<div class="mt-4">
  <h3>Create Blog</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="Name" class="form-label">Name: </label>
      <input type="text" name="name" class="form-control" id="Name" />
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Description: </label>
      <input
        type="text"
        name="description"
        class="form-control"
        id="Description"
      />
    </div>
    <div class="mb-3">
      <label for="Image" class="form-label">Image: </label>
      <input type="text" name="image" class="form-control" id="Image" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>