<div class="mt-4">
  <form>
    <div class="mb-3">
      <label for="search" class="form-label">Name: </label>
      <input type="text" name="name" class="form-control" id="search" />
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender: </label>
      <select name="gender" class="form-control" id="gender">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>